@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Weather" asp-action="Index">@Forecast.Resources.Common.Forecast</a>
    </li>
}

